body {
	margin: 0;
}

#container1 {
    position: absolute;
    width: 100%;
    left: 0%;
    margin-left: 0%;
    border: 1px dotted #333;
    padding: 0;
    font-family: Arial;
}

#container2 {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background: white;
    margin: 0;
}

#header {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    background: white;
    margin: 0 0 0 0;
}

#main {
    position: relative;
    float: left;
    width: 100%;
    height: 700px;
    background: white;
    margin: 0 0 0 0;
}
#new {
    position: relative;
    float: left;
    width: 23%;
    height: 100%;
    margin-right: 2%;
    color: white;
    background: black;
    border-top: 2px solid red;
    overflow: auto;
}

#potential {
    position: relative;
    float: left;
    width: 100%;
    height: 48%;
    color: white;
    background: black;
    margin-bottom: 1%;
    border-top: 2px solid blue;
    overflow: auto;
}
#chart {
    position: relative;
    float: left;
    width: 100%;
    height: 48%;
    background: black;
    margin-top: 2%;
}
#feed {
    position: relative;
    float: left;
    width: 23%;
    height: 100%;
    background: black;
    margin-left: 2%;
    border-top: 2px solid green;
}

#chart iframe	{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
p  {
    color: black;
    padding: 5px;
    margin: 0 40% 0 5px;
}
#new p   {
    background-color: red;
}
#potential p  {
    background-color: blue;
}
#feed p  {
    background-color: green;
}
ul {
	padding: 0 5px 0 5px;
	list-style:none;
	font-size: 12px;
	height: 100%;
}
#new li     {
    border-left: 2px solid red;
    height: 50px;
    margin: 10px;
    padding: 5px;
}
#potential li     {
    border-left: 2px solid blue;
    height: 25px;
    margin: 5px;
    padding: 5px;
}
.onward-journeys-total    {
    height: 3px;
    width: 200px;
    background-color: #202020;
    margin-top: 10px;
}
.onward-journeys-portion    {
    height: 3px;
    width: 100px;
    background-color: gray;
}