<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Troy Harris" />
    <meta name="author" content="Francis Carr" />
    <meta name="author" content="Haran Rasalingam" />
    <meta name="author" content="Lee Simpson" />
    <meta name="author" content="Matt Andrews" />

    <title>GRAP</title>

    <link href="static/grap.css" rel="stylesheet" />
    <link href="static/style.css" rel="stylesheet" />
    <script src="static/script.js"></script>

</head>
<body>
<div id="container1">

    <div id="header"><!--<img src="static/grap.png" />--></div>
    <div id="main">
        <p>{{ article }}</p> 
    </div>

</div>
</body>
</html>