<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Troy Harris" />
    <meta name="author" content="Francis Carr" />
    <meta name="author" content="Haran Rasalingam" />
    <meta name="author" content="Lee Simpson" />
    <meta name="author" content="Matt Andrews" />

    <title>GRAP</title>

    <link href="static/grap.css" rel="stylesheet" />
    <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
    <script src="static/jquery-1.8.0.js"></script>
    <script>

    $(document).ready(function(){
        doOnwardJourney();
    });

    function doOnwardJourney()    {
        
        $('.onward-journeys-portion').each(function(i) {
            var randomWidth = parseInt(Math.random() * 100);
            $(this).css("width", randomWidth + "%");
        });
    }

    </script>


</head>
<body>
<div id="container">

    <div id="header"><img src="static/grap-logo.png" /></div>
    <div id="main">
        <div id="sidebar-left" class="box">
            <h2 class="title-bar pink-border"><span class="title-bar-text pink-bg">New articles</span></h2>
            
            <div class="inner">
                <ol class="tabs">
                    <li class="tabs-selected">Top 20</li>
                    <li>Latest</li>
                    <li>Viral</li>
                    <li class="tab-item-right">+</li>
                </ol>
                <div class="tab-pane box-dark">
                    <ul class="bordered-list pink-border">
                        {% for article in articles[:10] %}
                        <li><a href="/article/{{article.id}}">{{ article.webTitle}}</a> | {{ article.ophan_count }} Hits <div class="onward-journeys-total"><div class="onward-journeys-portion"></div></div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="potential" class="box">
                <h2 class="title-bar blue-border"><span class="title-bar-text blue-bg">Potential articles</span></h2>
                <div class="inner">
                    <ul class="bordered-list bordered-list-short blue-border">
                        {% for article in articles[10:] %}
                        <li>{{ article.webTitle}} | {{ article.ophan_count }} Hits <div class="onward-journeys-total"><div class="onward-journeys-portion"></div></div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="chart" class="box">
                <h2 class="title-bar orange-border"><span class="title-bar-text orange-bg">Current ads</span></h2>
                <div class="inner">
                    <iframe src="static/chart.html"></iframe>
                </div>
            </div>
        </div>
        <div id="sidebar-right" class="box">
            <h2 class="title-bar green-border"><span class="title-bar-text green-bg">Feed</span></h2>
            <div class="inner">
                <ol class="tabs">
                    <li class="tabs-selected">All</li>
                    <li>Tech</li>
                    <li>Science</li>
                    <li class="tab-item-right">+</li>
                </ol>
                <div class="tab-pane box-dark">
                    <ul class="bordered-list green-border">
                        <li><company>Samsung</company> have bid on <articleTitle>'Microsoft Surface Pro review: a device of many talents'</articleTitle> <time>1 min ago</time></li>
                        <li><company>Coke</company> have bid against <company>Pepsi</company> on <articleTitle>'Coke and Pepsi change recipe to avoid...'</articleTitle> <time>2 mins ago</time></li>
                        <li><company>Apple</company> have won <articleTitle>'Apple chief calls on US government to slash US corporate tax.'</articleTitle> <time>5 mins ago</time></li>
                        <li><company>Coke</company> have bid against <company>Pepsi</company> on <articleTitle>'Coke and Pepsi change recipe to avoid...'</articleTitle> <time>10 mins ago</time></li>
                        <li><company>Samsung</company> have bid on <articleTitle>'Microsoft Surface Pro review: a device of many talents'</articleTitle> <time>20 mins ago</time></li>
                        <li><company>Apple</company> have won <articleTitle>'Apple chief calls on US government to slash US corporate tax.'</articleTitle> <time>45 mins ago</time></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

</div>
</body>
</html>