<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Troy Harris" />
    <meta name="author" content="Francis Carr" />
    <meta name="author" content="Haran Rasalingam" />
    <meta name="author" content="Lee Simpson" />
    <meta name="author" content="Matt Andrews" />

    <title>GRAP</title>


    <link href="static/grap.css" rel="stylesheet" />
    <link href="static/style.css" rel="stylesheet" />
    <script src="static/script.js"></script>
    <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
    <script src="static/jquery-1.8.0.js"></script>
    <script>

    $(document).ready(function(){
        doOnwardJourney();
    });

    function doOnwardJourney()    {
        
        $('.onward-journeys-portion').each(function(i) {
            var randomWidth = parseInt(Math.random() * 100);
            $(this).css("width", randomWidth + "%");
        });
    }

    </script>


</head>
<body>
<div id="container1">

    <div id="header"><img src="static/grap.png" /></div>
    <div id="main">
        <div id="new">
            <p>New Articles</p>
            <ul>
                {% for article in articles[:10] %}
                <li>{{ article.webTitle}} | {{ article.ophan_count }} Hits <div class="onward-journeys-total"><div class="onward-journeys-portion"></div></div></li>
                {% endfor %}
            </ul>
        </div>
        <div id="container2">
            <div id="potential">
                <p>Potential Articles</p>
                <ul>
                    {% for article in articles[10:] %}
                    <li>{{ article.webTitle}} | {{ article.ophan_count }} Hits <div class="onward-journeys-total"><div class="onward-journeys-portion"></div></div></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="chart"><iframe src="static/chart.html"></iframe></div>
        </div>
        <div id="feed">
            <p>Feed</p>
            <ul>
                <li><company>Samsung</company> have bid on <articleTitle>'Microsoft Surface Pro review: a device of many talents'</articleTitle> <time>1 min ago<time></li>
                <li><company>Coke</company> have bid against <company>Pepsi</company> on <articleTitle>'Coke and Pepsi change recipe to avoid...'</articleTitle> <time>2 mins ago<time></li>
                <li><company>Apple</company> have won <articleTitle>'Apple chief calls on US government to slash US corporate tax.'</articleTitle> <time>5 mins ago<time></li>
                <li><company>Coke</company> have bid against <company>Pepsi</company> on <articleTitle>'Coke and Pepsi change recipe to avoid...'</articleTitle> <time>10 mins ago<time></li>
                <li><company>Samsung</company> have bid on <articleTitle>'Microsoft Surface Pro review: a device of many talents'</articleTitle> <time>20 mins ago<time></li>
                <li><company>Apple</company> have won <articleTitle>'Apple chief calls on US government to slash US corporate tax.'</articleTitle> <time>45 mins ago<time></li>
            </ul>
            <!--<img src="static/feed.png" />-->
        </div>
    </div>

</div>
</body>
</html>